<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="On Firefox">
  <parameter name="Browser" value="firefox"></parameter>
    <classes>
      <class name="com.stock.master.grid"/>
    </classes>
  </test> <!-- Gexe -->
  
</suite> <!-- Suite -->
